@tailwind base;
@tailwind components;
@tailwind utilities;

.picture1 {
  background: url("../public/Me.jpg") center center no-repeat;
  background-size: cover;
}
.picture2 {
  background: url("../public/Me.jpg") center center no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 1024px) {
  /* .picture1 {
    top:-35px;
    left:-35px;
    position: absolute;
  } */
  /* .picture2 {
    top:-35px;
    right:-35px;
    position: absolute;
  } */
}

  /* scollbar  */
  ::-webkit-scrollbar{
    width: 7px;
  }

  /* track */ 
  ::-webkit-scrollbar-track{
    border-radius: 7px;
  }
    /* box-shadow: 0 0 5px white; */

  /* handle */
  ::-webkit-scrollbar-thumb{
    background: #86efac;
    border-radius: 5px;
  }

